.contact{
    .inputs{
        display: flex;
        // justify-content: space-around;
        // align-items: center;
        flex-direction: column;
        
        input,textarea{
            border-radius: 10px;
            border: none;
            padding: 8px 16px;
            background-color: rgba(0, 0, 0, 0.74);
            color: aliceblue;
            width: 500px;
            margin-bottom: 20px;
        }
        button{
            padding: 8px 16px ;
            background-color: rgb(148, 77, 77);
            color: white;
            margin-bottom: 20px;
        }
    }
   
}